:root {
    --colorBlack: #080025;
    --colorWhite: #fefdf2;
    --colorPurpleLight: #a176b6;
    --colorPurpleDark: #5651a7;
    --colorBlueLight: #4f81c0;
    --colorBlueDark: #155f91;
    --colorOrangeLight: #f16a1f;
    --colorOrangeDark: #ac284f;
    --colorGrayLight: #5e828f;
    --colorGrayDark: #4e6773;
  }